#wrapper{
    width: 1045px;
    margin-left: auto;
    margin-right: auto;
}

nav {
	widht: 100%;
	height: 49px;
	background-color: #222222;
	border-top: 2px solid #5e8e14;
}
nav ul {
	list-style: none;
}
nav ul li {
	width: 118px;
	height: 49px;
	float: left;
	position: relative;
	top: -16px;
	text-align: center;
}
nav ul li:hover {
	width: 118px;
	height: 49px;
	background-color: #5e8e14;
	border-bottom: 5px solid #5e8e14;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
nav ul li a {
    font-family: sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #e2e2e2;
	line-height: 49px;
	display: block;
}
nav ul li a:hover {
	font-family: fantasy;
	color: #ffffff;	
}



/* "." per le classi e "#" per gli id */